.mw70px {
  min-width: 70px;
}

.mw90px {
  min-width: 90px;
}

.mw100px {
  min-width: 100px;
}

.mw150px {
  min-width: 150px;
}

.mw200px {
  min-width: 200px;
}

.mw250px {
  min-width: 250px;
}

.mw280px {
  min-width: 280px;
}

.mw300px {
  min-width: 300px;
}

.mw500px {
  min-width: 500px;
}

.mw108px {
  min-width: 108px;
}

.mw158px {
  min-width: 158px;
}