.mw70px {
  min-width: 70px;
}

.mw90px {
  min-width: 90px;
}

.mw100px {
  min-width: 100px;
}

.mw150px {
  min-width: 150px;
}

.mw200px {
  min-width: 200px;
}

.mw250px {
  min-width: 250px;
}

.mw280px {
  min-width: 280px;
}

.mw300px {
  min-width: 300px;
}

.mw500px {
  min-width: 500px;
}

.mw108px {
  min-width: 108px;
}

.mw158px {
  min-width: 158px;
}

html .mo {
  display: none;
}

body {
  overflow: visible;
}
body.fix {
  overflow: hidden;
}

::selection {
  background: #978eff;
  color: #fff;
}

header {
  width: 100%;
  height: 80px;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  top: 0;
  left: 0;
  z-index: 9999;
  padding: 0 80px;
  transition: background 0.2s;
}
header h1 a {
  display: block;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  background: url(../images/gnb_logo_w.png) no-repeat center/contain;
  width: 200px;
  height: 34px;
}
header .toggle {
  display: none;
  text-indent: -9999px;
  position: relative;
  z-index: 99999;
  border: none;
  width: 36px;
  height: 30px;
  padding: 0;
  background: transparent;
  cursor: pointer;
}
header .toggle i {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  display: block;
  width: 100%;
  height: 3px;
  border-radius: 3px;
  background: #fff;
  transition: 0.3s;
}
header .toggle::before, header .toggle::after {
  width: 100%;
  height: 3px;
  background: #fff;
  border-radius: 3px;
  left: 0;
  transition: 0.3s;
  content: "";
  display: block;
  position: absolute;
}
header .toggle::before {
  top: 0;
}
header .toggle::after {
  bottom: 0;
}
header .toggle.on i {
  background: #000;
}
header .toggle.on::before, header .toggle.on::after {
  background: #000;
  top: 50%;
  left: 50%;
}
header .toggle.on::before {
  transform: translate(-50%, -50%) rotate(45deg);
}
header .toggle.on::after {
  bottom: unset;
  transform: translate(-50%, -50%) rotate(-45deg);
}
header .toggle.on i {
  opacity: 0;
}
header .total-menu .menu {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 80px;
  height: 100%;
}
header .total-menu .menu li {
  position: relative;
}
header .total-menu .menu li a {
  font-family: "Pretendard-Medium";
  position: relative;
  white-space: nowrap;
  display: block;
  height: 100%;
  line-height: 80px;
  color: #fff;
  font-size: 18px;
  letter-spacing: -0.32px;
}
header .total-menu .menu li a span {
  display: none;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%) rotate(180deg);
  width: 12px;
  height: 6px;
  background: url(../images/btn-gnb-arrow.png) no-repeat center/cover;
  transition: 0.5s;
}
header .total-menu .menu li .menu-two-wrap {
  position: absolute;
  left: 11px;
  bottom: -80px;
  display: none;
}
header .total-menu .menu li .menu-two-wrap ul {
  gap: 45px;
  width: 100%;
  display: flex;
}
header .total-menu .menu li .menu-two-wrap ul li a {
  position: relative;
  color: #555;
  z-index: -999;
  font-size: 16px;
  opacity: 0;
}
header .total-menu .menu li .menu-two-wrap ul li a:hover {
  color: #978eff;
  transition: 0.2s;
}
header .total-menu .menu li .menu-two-wrap.on {
  display: block;
}
header .total-menu .menu li .menu-two-wrap.on ul a {
  z-index: 9;
  opacity: 1;
}
header .total-menu .menu li:last-child .menu-two-wrap {
  left: -7px;
}
header .total-menu .user .login {
  position: relative;
  width: 100%;
  left: 0;
  display: flex;
  gap: 10px;
}
header .total-menu .user .login a {
  font-family: "Pretendard-Regular";
  display: inline-block;
  padding: 7.5px 18px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 15px;
  color: #fff;
  font-size: 13px;
  letter-spacing: -0.26px;
  cursor: pointer;
  transition: 0.2s;
}
header .total-menu .user .login a:hover {
  background: #fff;
  color: #784dff;
}
header .total-menu .user .login.after .user-info {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-right: 10px;
}
header .total-menu .user .login.after .user-info .user-img {
  width: 20px;
  height: 20px;
  background: url(../images/ic_gnb_my_w.png) no-repeat center/cover;
}
header .total-menu .user .login.after .user-info .user-name {
  font-family: "Pretendard-Regular";
  color: #fff;
  font-size: 14px;
}
header .total-menu .user .login.after .user-info .user-name span {
  font-family: "Pretendard-Bold";
}
header .header-background {
  position: fixed;
  display: none;
  z-index: 999;
  background: rgba(0, 0, 0, 0.7);
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
}
header.white {
  background: #fff;
  border-bottom: 1px solid #f2f2f2;
}
header.white h1 a {
  background: url(../images/gnb_logo_w_white.png) no-repeat center/contain;
}
header.white .toggle i {
  background: #000;
}
header.white .toggle::before, header.white .toggle::after {
  background: #000;
}
header.white .total-menu .menu > li > a {
  color: #333;
}
header.white .total-menu .menu > li > a::before {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 2px;
  background: #978eff;
  transition: 0.3s;
}
header.white .total-menu .menu > li > a:hover, header.white .total-menu .menu > li > a.on {
  color: #978eff;
}
header.white .total-menu .menu > li > a:hover::before, header.white .total-menu .menu > li > a.on::before {
  width: 100%;
}
header.white .total-menu .user .login a {
  border: 1px solid #978eff;
  color: #978eff;
}
header.white .total-menu .user .login a:hover {
  background: #978eff;
  color: #fff;
}
header.white .total-menu .user .login.after .user-info .user-img {
  background: url(../images/ic_gnb_my_w_white.png) no-repeat center/cover;
}
header.white .total-menu .user .login.after .user-info .user-name {
  color: #333;
}

.menu-two-bg-wrap {
  position: fixed;
  z-index: 999;
  left: 0;
  top: 80px;
  width: 100%;
  height: 0;
  overflow: hidden;
  transition: 0.3s;
}
.menu-two-bg-wrap .menu-two-bg {
  position: absolute;
  transform: translateY(-80px);
  width: 100%;
  height: 100%;
  background: #fff;
  border-bottom: 1px solid #f2f2f2;
  transition: 0.3s;
}
.menu-two-bg-wrap.on {
  height: 80px;
}
.menu-two-bg-wrap.on .menu-two-bg {
  transform: translateY(0);
}

.content .container {
  height: 100%;
  max-width: 1270px;
  margin: 0 auto;
}

footer {
  background: #17213e;
  padding: 65px 20px;
}
footer .container {
  max-width: 1270px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
footer .container .box.box1 .footer-logo {
  display: block;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 180px;
  height: 31px;
  background-image: url(../images/img_footer_logo.png);
  margin-bottom: 30px;
}
footer .container .box.box1 .item.item1 {
  display: flex;
  margin-bottom: 30px;
}
footer .container .box.box1 .item.item1 a {
  font-family: "Pretendard-Regular";
  font-size: 16px;
  color: #fff;
  padding-right: 17.5px;
  margin-right: 17.5px;
  position: relative;
}
footer .container .box.box1 .item.item1 a::before {
  content: "";
  display: block;
  position: absolute;
  width: 1px;
  height: 10px;
  background: #fff;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
}
footer .container .box.box1 .item.item1 a:last-of-type {
  padding-right: 0;
  margin-right: 0;
}
footer .container .box.box1 .item.item1 a:last-of-type::before {
  display: none;
}
footer .container .box.box1 .item.item2 .line {
  display: flex;
  margin-bottom: 13px;
}
footer .container .box.box1 .item.item2 .line p {
  font-family: "Pretendard-Light";
  font-size: 14px;
  color: #999fb1;
  padding-right: 9px;
  margin-right: 9px;
  position: relative;
}
footer .container .box.box1 .item.item2 .line p::before {
  content: "";
  display: block;
  position: absolute;
  width: 1px;
  height: 12px;
  background: #999fb1;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
}
footer .container .box.box1 .item.item2 .line p:last-of-type::before {
  display: none;
}
footer .container .box.box1 .item.item2 .line.line3 {
  margin-bottom: 0;
}
footer .container .box.box2 {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 20px;
}
footer .container .box.box2 .site-link-wrap {
  position: relative;
  width: 210px;
  height: 45px;
  border-radius: 5px;
  background: #000d34;
  user-select: none;
}
footer .container .box.box2 .site-link-wrap p {
  font-family: "Pretendard-Medium";
  position: relative;
  font-size: 14px;
  color: #fff;
  line-height: 45px;
  padding-left: 15px;
  cursor: pointer;
}
footer .container .box.box2 .site-link-wrap p::before {
  content: "";
  display: block;
  position: absolute;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  top: 50%;
  transform: translateY(-50%);
  transition: 0.3s;
  right: 15px;
  width: 13px;
  height: 5.5px;
  background-image: url(../images/icon_footer_arrow_up.png);
}
footer .container .box.box2 .site-link-wrap > div {
  position: absolute;
  top: -111px;
  left: 0;
  width: 100%;
  height: 111px;
  overflow: hidden;
}
footer .container .box.box2 .site-link-wrap > div ul {
  width: 100%;
  height: 100%;
  background: #000d34;
  border: 1px solid #2a3146;
  border-radius: 5px;
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
  transition: 0.3s;
  transform: translateY(100%);
}
footer .container .box.box2 .site-link-wrap > div ul li {
  height: 15px;
}
footer .container .box.box2 .site-link-wrap > div ul li a {
  font-family: "Pretendard-Regular";
  position: relative;
  display: inline-block;
  color: #fff;
  font-size: 13px;
  line-height: 15px;
  transition: 0.3s;
}
footer .container .box.box2 .site-link-wrap > div ul li a::before {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  width: 0;
  height: 1px;
  background: #fff;
  transition: width 0.3s;
}
footer .container .box.box2 .site-link-wrap > div ul li a:hover::before {
  width: 100%;
}
footer .container .box.box2 .site-link-wrap.on p::before {
  transform: translateY(-50%) rotate(180deg);
}
footer .container .box.box2 .site-link-wrap.on > div ul {
  transform: translateY(0);
}
footer .container .box.box2 .sns-link-wrap {
  display: flex;
  gap: 15px;
}
footer .container .box.box2 .sns-link-wrap .link {
  display: block;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: inline-block;
  width: 60px;
  height: 45px;
  background-size: contain;
  border-radius: 5px;
}
footer .container .box.box2 .sns-link-wrap .link.link1 {
  background-image: url(../images/btn_footer_blog.png);
}
footer .container .box.box2 .sns-link-wrap .link.link2 {
  background-image: url(../images/btn_footer_facebook.png);
}
footer .container .box.box2 .sns-link-wrap .link.link3 {
  background-image: url(../images/btn_footer_youyube.png);
}
footer .top-btn {
  display: block;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  z-index: 99;
  cursor: pointer;
  display: block;
  border: none;
  padding: 0;
  width: 75px;
  height: 75px;
  border-radius: 100%;
  background: url(../images/btn_top.png) no-repeat center/cover;
  position: fixed;
  bottom: 40px;
  right: 40px;
  transform: translateY(120px);
  transition: 0.5s;
}
footer .top-btn.on {
  transform: translateY(0);
}

#popup-wrap {
  display: none;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  position: fixed;
  background: rgba(0, 0, 0, 0.7);
  z-index: 99999;
}
#popup-wrap.on {
  display: block;
}
#popup-wrap .popup {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90vw;
  max-width: 800px;
  height: 70vh;
  max-height: 600px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 0 12px 0 rgba(21, 21, 21, 0.16);
}
#popup-wrap .popup.on {
  display: block;
}
#popup-wrap .popup#popup-policy .popup-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 54px;
  border: 0;
  border-bottom: 1px solid #e0e0e0;
  margin: 0 18px;
}
#popup-wrap .popup#popup-policy .popup-head p {
  font-family: "Pretendard-Regular";
  font-size: 16px;
  color: #2a2a2a;
}
#popup-wrap .popup#popup-policy .popup-head button {
  width: 15px;
  height: 15px;
  background: url(../images/popup_close.png) no-repeat center/contain;
}
#popup-wrap .popup#popup-policy .popup-cont {
  margin: 18px;
  padding: 18px;
  background: #fbfbfb;
  height: calc(100% - 90px);
  overflow-y: auto;
  border: 1px solid #f0f0f0;
}
#popup-wrap .popup#popup-policy .popup-cont .box ul {
  margin-bottom: 30px;
}
#popup-wrap .popup#popup-policy .popup-cont .box ul li {
  font-family: "Pretendard-Regular";
  font-size: 13px;
  line-height: 1.3;
  color: #2a2a2a;
  word-break: break-all;
}
#popup-wrap .popup#popup-policy .popup-cont .box ul li p {
  font-family: "Pretendard-Medium";
  margin-bottom: 10px;
  font-size: 14px;
}
#popup-wrap .popup#popup-policy .popup-cont .box ul li .table-wrap {
  word-break: keep-all;
  width: 100%;
  overflow: hidden;
  overflow-x: auto;
}
#popup-wrap .popup#popup-policy .popup-cont .box ul li .table-wrap table {
  border-collapse: collapse;
  border-spacing: 0;
}
#popup-wrap .popup#popup-policy .popup-cont .box ul li .table-wrap table thead {
  background-color: #ebebeb;
}
#popup-wrap .popup#popup-policy .popup-cont .box ul li .table-wrap table thead tr th {
  padding: 6px 10px;
  text-align: center;
  border: 1px solid #d9d9d9;
  font-weight: normal;
}
#popup-wrap .popup#popup-policy .popup-cont .box ul li .table-wrap table tbody tr th {
  text-align: center;
}
#popup-wrap .popup#popup-policy .popup-cont .box ul li .table-wrap table tbody tr th,
#popup-wrap .popup#popup-policy .popup-cont .box ul li .table-wrap table tbody tr td {
  padding: 6px 10px;
  border: 1px solid #d9d9d9;
  background-color: #fff;
  font-weight: normal;
  vertical-align: middle;
}
#popup-wrap .popup#popup-policy .popup-cont .box ul li .table-wrap table tbody.tac {
  text-align: center;
}
#popup-wrap .popup#popup-policy .popup-cont .box ul:first-child li {
  margin-bottom: 15px;
}
#popup-wrap .popup#popup-policy .popup-cont .box ul:nth-child(2) li {
  line-height: 1.5;
}
#popup-wrap .popup#popup-policy .popup-cont .box ul:nth-child(4) li {
  margin-bottom: 15px;
}
#popup-wrap .popup#popup-policy .popup-cont .box ul:nth-child(5) li {
  margin-bottom: 5px;
}
#popup-wrap .popup#popup-policy .popup-cont .box ul:nth-child(5) li:nth-child(1), #popup-wrap .popup#popup-policy .popup-cont .box ul:nth-child(5) li:nth-child(2), #popup-wrap .popup#popup-policy .popup-cont .box ul:nth-child(5) li:nth-child(8), #popup-wrap .popup#popup-policy .popup-cont .box ul:nth-child(5) li:nth-child(12), #popup-wrap .popup#popup-policy .popup-cont .box ul:nth-child(5) li:nth-child(16) {
  margin-bottom: 15px;
}
#popup-wrap .popup#popup-policy .popup-cont .box ul:nth-child(6) li {
  margin-bottom: 15px;
}
#popup-wrap .popup#popup-policy .popup-cont .box ul:nth-child(6) li:nth-child(7) {
  margin-bottom: 0;
}
#popup-wrap .popup#popup-policy .popup-cont .box ul:nth-child(7) li, #popup-wrap .popup#popup-policy .popup-cont .box ul:nth-child(8) li, #popup-wrap .popup#popup-policy .popup-cont .box ul:nth-child(9) li {
  margin-bottom: 15px;
}
#popup-wrap .popup#popup-policy .popup-cont .box ul:nth-child(10) li {
  margin-bottom: 15px;
}
#popup-wrap .popup#popup-policy .popup-cont .box ul:nth-child(10) li:nth-child(5), #popup-wrap .popup#popup-policy .popup-cont .box ul:nth-child(10) li:nth-child(7) {
  margin-bottom: 5px;
}
#popup-wrap .popup#popup-policy .popup-cont .box ul:nth-child(11) li {
  margin-bottom: 15px;
}
#popup-wrap .popup#popup-policy .popup-cont .box ul:nth-child(12) li {
  margin-bottom: 5px;
}
#popup-wrap .popup#popup-policy .popup-cont .box ul:nth-child(12) li:nth-child(2), #popup-wrap .popup#popup-policy .popup-cont .box ul:nth-child(12) li:nth-child(4), #popup-wrap .popup#popup-policy .popup-cont .box ul:nth-child(12) li:nth-child(6), #popup-wrap .popup#popup-policy .popup-cont .box ul:nth-child(12) li:nth-child(13), #popup-wrap .popup#popup-policy .popup-cont .box ul:nth-child(12) li:nth-child(17), #popup-wrap .popup#popup-policy .popup-cont .box ul:nth-child(12) li:nth-child(20), #popup-wrap .popup#popup-policy .popup-cont .box ul:nth-child(12) li:nth-child(24) {
  margin-bottom: 15px;
}
#popup-wrap .popup#popup-policy .popup-cont .box ul:nth-child(13) li {
  margin-bottom: 5px;
}
#popup-wrap .popup#popup-policy .popup-cont .box ul:nth-child(13) li:nth-child(6) {
  margin-bottom: 15px;
}
#popup-wrap .popup#popup-policy .popup-cont .box ul:nth-child(15) li {
  margin-bottom: 15px;
}
#popup-wrap .popup#popup-policy .popup-cont .box ul:nth-child(15) li:nth-child(3), #popup-wrap .popup#popup-policy .popup-cont .box ul:nth-child(15) li:nth-child(5), #popup-wrap .popup#popup-policy .popup-cont .box ul:nth-child(15) li:nth-child(6) {
  margin-bottom: 5px;
}
#popup-wrap .popup#popup-policy .popup-cont .box ul:nth-child(16) li {
  margin-bottom: 15px;
}
#popup-wrap .popup#popup-policy .popup-cont .box ul:nth-child(16) li:nth-child(6) {
  margin-bottom: 5px;
}

@media screen and (max-width: 1600px) {
  header h1 a {
    display: block;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    background: url(../images/gnb_logo_w.png) no-repeat center/contain;
    width: 200px;
    height: 34px;
  }
  header .toggle {
    display: block;
  }
  header .total-menu {
    right: 0;
    top: 0;
    position: fixed;
    height: 100vh;
    background: #fff;
    border-left: 1px solid #f2f2f2;
    display: flex;
    flex-direction: column-reverse;
    gap: 80px;
    padding: 40px 80px 40px 80px;
    transform: translateX(100%);
    transition: 0.5s;
    z-index: 9999;
    min-width: 500px;
  }
  header .total-menu .menu {
    position: relative;
    top: 0;
    left: 0;
    transform: translateX(0);
    flex-direction: column;
    gap: 80px;
    overflow: hidden;
    overflow-y: auto;
  }
  header .total-menu .menu > li {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
  header .total-menu .menu > li > a {
    font-family: "Pretendard-Bold" !important;
  }
  header .total-menu .menu li {
    position: relative;
    display: block;
  }
  header .total-menu .menu li a {
    font-family: "Pretendard-Medium";
    position: relative;
    white-space: nowrap;
    display: block;
    height: unset;
    line-height: 18px;
    color: #333;
    font-size: 18px;
    letter-spacing: -0.32px;
  }
  header .total-menu .menu li a span {
    display: block;
  }
  header .total-menu .menu li a:hover, header .total-menu .menu li a.on {
    color: #978eff;
  }
  header .total-menu .menu li .menu-two-wrap {
    position: relative;
    bottom: unset;
    left: unset;
    display: block;
    overflow: hidden;
    height: 0;
  }
  header .total-menu .menu li .menu-two-wrap ul {
    gap: 40px;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    transform: translateY(-100%);
    transition: 0.7s;
  }
  header .total-menu .menu li .menu-two-wrap ul li a {
    position: relative;
    color: #555;
    z-index: unset;
    font-size: 16px;
    opacity: 1;
  }
  header .total-menu .menu li .menu-two-wrap ul li a:hover {
    color: #978eff;
    transition: 0.2s;
  }
  header .total-menu .menu li:last-child .menu-two-wrap {
    left: unset;
  }
  header .total-menu .menu li.on a span {
    transform: translateY(0) rotate(0deg);
  }
  header .total-menu .menu li.on .menu-two-wrap {
    margin-top: 40px;
    height: 100%;
  }
  header .total-menu .menu li.on .menu-two-wrap ul {
    transform: translateY(0);
  }
  header .total-menu .user .login {
    flex-wrap: wrap;
  }
  header .total-menu .user .login a {
    font-family: "Pretendard-Regular";
    display: inline-block;
    padding: 7.5px 18px;
    border: 1px solid #978eff;
    color: #978eff;
    border-radius: 15px;
    font-size: 13px;
    letter-spacing: -0.26px;
    cursor: pointer;
    transition: 0.2s;
  }
  header .total-menu .user .login a:hover {
    background: #978eff;
    color: #fff;
  }
  header .total-menu .user .login.after .user-info {
    width: 100%;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    gap: 8px;
    margin-right: 10px;
  }
  header .total-menu .user .login.after .user-info .user-img {
    width: 20px;
    height: 20px;
    background: url(../images/ic_gnb_my_w_white.png) no-repeat center/cover;
  }
  header .total-menu .user .login.after .user-info .user-name {
    font-family: "Pretendard-Regular";
    color: #333;
    font-size: 14px;
  }
  header .total-menu .user .login.after .user-info .user-name span {
    font-family: "Pretendard-Bold";
  }
  header .total-menu.on {
    transform: translateX(0);
  }
  header .header-background.on {
    display: block;
  }
  header.white {
    background: #fff;
    border-bottom: 1px solid #f2f2f2;
  }
  header.white h1 a {
    background: url(../images/gnb_logo_w_white.png) no-repeat center/contain;
  }
  header.white .total-menu .menu > li > a {
    color: #333;
  }
  header.white .total-menu .menu > li > a::before {
    display: none;
  }
  header.white .total-menu .menu > li > a:hover, header.white .total-menu .menu > li > a.on {
    color: #978eff;
  }
  header.white .total-menu .menu > li > a:hover::before, header.white .total-menu .menu > li > a.on::before {
    width: 100%;
  }
  header.white .total-menu .user .login a {
    border: 1px solid #978eff;
    color: #978eff;
  }
  header.white .total-menu .user .login a:hover {
    background: #978eff;
    color: #fff;
  }
  header.white .total-menu .user .login.after .user-info .user-img {
    background: url(../images/ic_gnb_my_w_white.png) no-repeat center/cover;
  }
  header.white .total-menu .user .login.after .user-info .user-name {
    color: #333;
  }
  .menu-two-bg-wrap {
    display: none;
  }
  footer .container {
    flex-direction: column;
    gap: 50px;
  }
  footer .container .box.box1 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  footer .container .box.box1 .item.item2 .line {
    justify-content: center;
  }
  footer .container .box.box2 {
    flex-direction: row;
    justify-content: center;
  }
}
@media screen and (max-width: 768px) {
  header {
    padding: 0 20px;
    height: 60px;
  }
  header h1 a {
    display: block;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    width: 120px;
    height: 20px;
  }
  header .toggle {
    width: 22px;
    height: 16px;
  }
  header .toggle::before, header .toggle::after,
  header .toggle i {
    height: 2px;
  }
  header .total-menu {
    gap: 40px;
    padding: 30px;
    min-width: 310px;
    max-width: 310px;
  }
  header .total-menu .menu {
    gap: 40px;
  }
  header .total-menu .menu li a {
    letter-spacing: -0.36px;
  }
  header .total-menu .menu li a span {
    width: 11px;
    height: 6px;
  }
  header .total-menu .menu li .menu-two-wrap ul {
    gap: 20px;
  }
  header .total-menu .menu li .menu-two-wrap ul li a {
    font-size: 14px;
    letter-spacing: -0.28px;
  }
  header .total-menu .menu li.on .menu-two-wrap {
    margin-top: 20px;
  }
  header .total-menu .user .login.after .user-info {
    margin-bottom: 2px;
  }
  header .total-menu .user .login.after .user-info .user-name span {
    font-size: 14px;
  }
  header.white {
    border-bottom: none;
  }
  header.white .total-menu .menu > li > a {
    color: #333;
  }
  header.white .total-menu .menu > li > a::before {
    display: none;
  }
  header.white .total-menu .menu > li > a:hover, header.white .total-menu .menu > li > a.on {
    color: #978eff;
  }
  header.white .total-menu .menu > li > a:hover::before, header.white .total-menu .menu > li > a.on::before {
    width: 100%;
  }
  header.white .total-menu .user .login a {
    border: 1px solid #978eff;
    color: #978eff;
  }
  header.white .total-menu .user .login a:hover {
    background: #978eff;
    color: #fff;
  }
  header.white .total-menu .user .login.after .user-info .user-img {
    background: url(../images/ic_gnb_my_w_white.png) no-repeat center/cover;
  }
  header.white .total-menu .user .login.after .user-info .user-name {
    color: #333;
  }
  footer {
    padding: 40px 20px;
  }
  footer .container {
    gap: 25px;
  }
  footer .container .box.box1 .footer-logo {
    width: 120px;
    height: 20.5px;
    margin-bottom: 25px;
  }
  footer .container .box.box1 .item.item1 {
    margin-bottom: 20px;
  }
  footer .container .box.box1 .item.item1 a {
    font-size: 13px;
    padding-right: 14.5px;
    margin-right: 14.5px;
  }
  footer .container .box.box1 .item.item1 a::before {
    height: 8px;
  }
  footer .container .box.box1 .item.item2 .line {
    flex-wrap: wrap;
    max-width: 307px;
    margin-bottom: 7.5px;
  }
  footer .container .box.box1 .item.item2 .line p {
    font-family: "Pretendard-Light";
    font-size: 11px;
    padding-right: 8px;
    margin-right: 8px;
  }
  footer .container .box.box1 .item.item2 .line p::before {
    height: 11px;
  }
  footer .container .box.box1 .item.item2 .line p:last-of-type {
    padding-right: 0;
    margin-right: 0;
    margin-top: 7.5px;
  }
  footer .container .box.box1 .item.item2 .line p:last-of-type::before {
    display: none;
  }
  footer .container .box.box1 .item.item2 .line.line1 p:nth-child(3) {
    padding-right: 0;
    margin-right: 0;
  }
  footer .container .box.box1 .item.item2 .line.line1 p:nth-child(3)::before {
    display: none;
  }
  footer .container .box.box1 .item.item2 .line.line2 p:nth-child(2) {
    padding-right: 0;
    margin-right: 0;
  }
  footer .container .box.box1 .item.item2 .line.line2 p:nth-child(2)::before {
    display: none;
  }
  footer .container .box.box1 .item.item2 .line.line3 {
    margin-bottom: 0;
  }
  footer .container .box.box1 .item.item2 .line.line3 p {
    margin-top: 0;
  }
  footer .container .box.box2 {
    gap: 6px;
  }
  footer .container .box.box2 .site-link-wrap {
    width: 164px;
    height: 40px;
  }
  footer .container .box.box2 .site-link-wrap p {
    font-size: 12px;
    line-height: 40px;
  }
  footer .container .box.box2 .site-link-wrap > div ul li {
    display: flex;
    height: 14px;
  }
  footer .container .box.box2 .site-link-wrap > div ul li a {
    display: inline-block;
    font-size: 11px;
    line-height: 14px;
  }
  footer .container .box.box2 .sns-link-wrap {
    gap: 6px;
  }
  footer .container .box.box2 .sns-link-wrap .link {
    width: 46px;
    height: 40px;
  }
  footer .top-btn {
    width: 40px;
    height: 40px;
    bottom: 250px;
    right: 20px;
    transform: translateX(80px);
  }
  footer .top-btn.on {
    transform: translateX(0);
  }
}
@media screen and (max-width: 520px) {
  footer .container .box.box1 {
    align-items: flex-start;
  }
  footer .container .box.box1 .item.item2 .line {
    justify-content: flex-start;
  }
  footer .container .box.box2 {
    justify-content: flex-start;
  }
}